<!-- Integrantes: Javier Rehbein; Cristobal Galindo; -->
<!-- Asignatura: Lenguajes de Programacion; -->
<!-- Profesor: Cristhian Aguilera; -->
<!-- Trabajo: Assigment 05; -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RUT Scrapper</title>
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <br>
        <h1><center></center></h1>
        <div class="contenedor">
            <img src="logo.png" alt="imagen">
        </div>

        <br>
        <center><input class="contenedor"></center>
        <br>
        <center><button>Buscar</button></center>
            
    </body>
</html>