
<!DOCTYPE html>
<html lang="es-CL">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta charset="UTF-8" />
    <title>Nombre Rut y Firma</title>
	<meta http-equiv="pragma" content="no-cache" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
	<!-- Scripts extCDN -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- CSS extCDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Google Adsense -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
	<div align="center" style="margin: auto; max-width: 500px;">
		<!-- Google Adsense Scrapper Upper-ResultPage -->
		<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-6t+ed+2i-1n-4w" data-ad-client="ca-pub-9788022456231162" data-ad-slot="8642733273"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<!-- Container which shows retrieved data from public servers -->
	<div class="container">
		<h2>Resultados</h2>
		<p>Mostrando resultados para: <i>3.554.069-5</i> — (<a href="./">Buscar otro</a>)</p>    
		<div style="width: auto; overflow-x: scroll; -webkit-overflow-scrolling: touch;">
		<table class="table table-hover">
			<thead>
				<tr>
	  		      	<th>Nombre</th>
					<th>RUT</th>
					<th>Sexo</th>
					<th>Dirección</th>
					<th>Ciudad/Comuna</th>
				</tr>    
	    	</thead>
			<tbody>
				<tr tabindex="1">
					<td>Santa Maria Zañartu Maria Ines Elena</td>
					<td style="white-space: nowrap;">3.554.069-5</td>
					<td>MUJ</td>
					<td>Fdo Las Casas</td>
					<td>Requinoa</td>
				</tr>	
    		</tbody>
		</table>
		</div>
	</div>
	<div align="center" style="margin: auto; max-width: 500px;">
		<!-- Google Adsense Scrapper Bottom-ResultPage -->
		<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-6t+ed+2i-1n-4w" data-ad-client="ca-pub-9788022456231162" data-ad-slot="6821836403"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>	
	<div class="article-list">
        <div class="container">
            <div class="intro"></div>
            <div class="row articles">
                <div class="col-md-4 col-sm-6 item"><a href="./articulos/jorge-alessandri.html"><img class="img-responsive" src="assets/img/front-img-jorge-alessandri.jpg"></a>
                    <h3 class="name"><a href="./articulos/jorge-alessandri.html"><strong>Jorge Alessandri</strong></a><br></h3>
                    <p class="description text-justify">Jorge Alessandri Rodríguez nació el 19 de mayo de 1896, hijo de Arturo Alessandri Palma, dos veces presidente de la república y Rosa Ester Rodríguez. Estudió ingeniería civil en la Universidad de Chile, egresando en 1929. Trabajó en el Ministerio de Obras Públicas como Director de Obras Públicas, también desempeñó funciones en Ferrocarriles del estado y en la Universidad de Chile donde ejerció como profesor.<br></p></div>
                <div class="col-md-4 col-sm-6 item"><a href="./articulos/carolina-fadic.html"><img class="img-responsive" src="assets/img/front-img-carolina-fadic.jpg"></a>
                    <h3 class="name"><a href="carolina-fadic.html"><strong>Carolina Fadic</strong></a><br></h3>
                    <p class="description text-justify">Tenía solo 19 años cuando hizo su debut. Luego a fines de 1994 comenzó a trabajar para una nueva teleserie en el mismo canal: Estupido Cupido, compartió con otros actores importantes como Francisco Reyes y Claudia Di Girolamo. Posteriormente participaría de otras teleseries de TVN como Oro Verde e Iorana.<br></p><a class="action"
                        href="#"></a></div>
                <div class="col-md-4 col-sm-6 item"><a href="./articulos/fernando-castillo-velasco.html"><img class="img-responsive" src="assets/img/front-img-fernando-castillo-velasco.jpg"></a>
                    <h3 class="name"><a href="./articulos/fernando-castillo-velasco.html"><strong>Fernando Castillo Velasco</strong></a><br></h3>
                    <p class="description text-justify">Las obras de Castillo Velasco están íntimamente relacionadas con el mundo de lo social. Una de sus grandes obras fue la Unidad Vecinal Portales, un conjunto de viviendas ubicadas en la comuna de Estación Central. En esta obra se ve una clara influencia de los movimientos modernistas y la valoración de los espacios comunes, luminosidad y espacialidad, además del uso primario del hormigón, todo dando lugar a una pequeña ciudad dormitorio dentro de la ciudad.<br></p></div>
            </div>
        </div>
    </div>
    <div class="article-list">
        <div class="container">
            <div class="intro"></div>
            <div class="row articles">
                <div class="col-md-4 col-sm-6 item"><a href="./articulos/gabriela-mistral.html"><img class="img-responsive" src="assets/img/front-img-gabriela-mistral.jpg"></a>
                    <h3 class="name"><a href="./articulos/gabriela-mistral.html"><strong>Gabriela Mistral</strong></a><br></h3>
                    <p class="description text-justify">Su legado en la actualidad es muy potente. En la actualidad se siguen enseñando sus obras, incluso desde la temprana infancia. Ejemplo de ello es que a muchos párvulos se les enseña el "Dame la mano". También es reconocida en esculturas, hitos, un moderno centro cultural (GAM) en Santiago, hasta aparece en el billete de 5.000 pesos.</p></div>
                <div class="col-md-4 col-sm-6 item"><a href="./articulos/sebastian-pinera.html"><img class="img-responsive" src="assets/img/front-img-sebastian-pinera.jpg"></a>
                    <h3 class="name"><a href="./articulos/sebastian-pinera.html"><strong>Sebastián Piñera</strong></a></h3>
                    <p class="description text-justify">Nació el 1 de diciembre de 1949 en Santiago de Chile, hijo de José Piñera y Magdalena Echeñique. Su educación la comienza en el Colegio del verbo Divino en 1955 y es en el mismo colegio donde termina sus estudios el año 1967. Luego de egresar, ingresa a la facultad de economía en la Pontificia Universidad Católica de Chile y se titula de Ingeniero Comercial el año 1971.</p></div>
                <div class="col-md-4 col-sm-6 item"><a href="./articulos/cecilia-bolocco.html"><img class="img-responsive" src="assets/img/front-img-cecilia-bolocco.jpg"></a>
                    <h3 class="name"><a href="./articulos/cecilia-bolocco.html"><strong>Cecilia Bolocco</strong></a></h3>
                    <p class="description text-justify">Cecilia Bolocco Fonck nació el 19 de mayo de 1965 en Santiago. Hija de Enzo Bolocco y Rose Marie Fonck. En sus primeros años practicó el ballet y en cuanto a sus estudios, asistió al colegio Santiago College. Llegó a estudiar por un tiempo Ingeniería Civil en la USACH, sin embargo desertó, posteriormente estudió diseño de vestuario.</p></div>
            </div>
        </div>
    </div>
    <div class="article-list">
        <div class="container">
            <div class="row articles">
                <div class="col-md-4 col-sm-6 item"><a href="./articulos/jorge-gonzalez.html"><img class="img-responsive" src="assets/img/front-img-jorge-gonzalez.jpg"></a>
                    <h3 class="name"><a href="./articulos/jorge-gonzalez.html"><strong>Jorge González</strong></a><br></h3>
                    <p class="description text-justify">Reconocido cantautor, guitarrista, vocalista y líder de una de las bandas más influyentes del rock latinoamericano de la segunda mitad del siglo XX. Nació en San Miguel el 6 de diciembre de 1964 y estudió música en la Universidad de Chile, carrera que no finalizó.</p></div>
                <div class="col-md-4 col-sm-6 item"><a href="./articulos/victor-jara.html"><img class="img-responsive" src="assets/img/front-img-victor-jara.jpg"></a>
                    <h3 class="name"><a href="./articulos/victor-jara.html"><strong>Victor Jara</strong></a></h3>
                    <p class="description text-justify">Como director teatral tuvo mucho éxito, tanto así que en el año 1967 recibió el premio Laurel de Oro por su desempeño ese año. Paralelo a su carrera comenzó a escribir canciones con un fuerte mensaje político las cuáles lo llevaron a militar por el partido comunista, convirtiéndolo en un compositor controversial para la época.</p></div>
                <div class="col-md-4">
                    <h4>Más artículos</h4>
                    <ul class="list-group">
                        <li class="list-group-item"><span><a href="./articulos/elena-caffarena.html">Elena Caffarena</a></span></li>
                        <li class="list-group-item"><span><a href="./articulos/isabel-allende.html">Isabel Allende</a></span></li>
                        <li class="list-group-item"><span><a href="./articulos/marcela-paz.html">Marcela Paz</a></span></li>
                        <li class="list-group-item"><span><a href="./articulos/pedro-aguirre-cerda.html">Pedro Aguirre Cerda</a></span></li>
						<li class="list-group-item"><span><a href="./articulos/salvador-allende.html">Salvador Allende</a></span></li>
                        <li class="list-group-item"><span><a href="./articulos/violeta-parra.html">Violeta Parra</a></span></li>
                        <li class="list-group-item"><span><a href="./articulos/eloisa-diaz.html">Eloisa Diaz</a></span></li>
                        <li class="list-group-item"><span><a href="./articulos/francisco-coloane.html">Francisco Coloane</a></span></li>
                        <li class="list-group-item"><span><a href="./articulos/ivan-zamorano.html">Iván Zamorano</a></span></li>
					</ul>
            	</div>
			</div>
		</div>
    </div>
    <div align="center" class="footer-basic">
        <footer>
            <p class="copyright"><a href="./articulos/privacidad.html">Política de Privacidad</a></p>
        </footer>
    </div>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141302579-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-141302579-1');
	</script>        	
</body>
</html>
